html, body {
  width: 100%;
  height: 100%;
  background: #000000;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 1.25em;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0;
}

.header {
  top: 0;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid rgba(133, 71, 231, 0.28);
  position: sticky;
  background: #0f080f;
}

.header .title {
  padding: 1.2rem 0.75rem;
}

.diing-link {
  padding-right: 0.25rem;
}

.diing-link img {
  width: 48px;
}

.instruction p {
  color: rgba(255, 255, 255, 0.48);
}

ul.buttons {
  list-style: none;
  padding: 0.5rem 0.5rem 1rem;
}

ul.buttons li {
  padding: 0.5rem 1rem;
}

a.button-ar {
  border: 1px solid #222222;
  display: block;
  border-radius: 4px;
  transition: all 0.4s linear;
  background: rgba(255, 255, 255, 0.05) center center no-repeat;
  background-size: 100% auto;
}

a.button-ar:active {
  border-color: #8b60d1;
  box-shadow: 0 4px 12px rgba(139, 96, 209, 0.3);
}

.button-ar img {
  max-width: 100%;
  visibility: hidden;
}

#button-ar-tshirt {
  background-image: url("./assets/images/tshirt.png");
}

#button-ar-card {
  background-image: url("./assets/images/card.png");
}

@media(hover: hover) {
  a.button-ar:hover {
    border-color: #8b60d1;
    box-shadow: 0 4px 12px rgba(139, 96, 209, 0.3);
  }
}